@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);
@keyframes animatedBackground {
    0% { background-color: #2F3F73; }
    50% { background-color: #505F90; }
    100% { background-color: #2F3F73; }
}

body
{
    color: papayawhip;
    background-color: #2F3F73;
    animation: animatedBackground 5s infinite;
    height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
/*
.box{
    position: relative;
    width: 1000px;
    height: 1000px;
    background: linear-gradient(to top  , #2F3F73, #505F90);    border: 2px solid #333;
    display: flex; /* Add this line */
    /*justify-content: center; /* Add this line */
  /*  align-items: center; /* Add this line */
   /* border-radius: 100px;
    box-shadow: 2px 2px 5px 1px #07123A;
    border-style: none;
    opacity: .8;
    z-index: 2; /* Place the bubbles behind the box */
   /* font-weight: bold;
}*/
.box{
    position: relative;
    width: 1700px;
    height: 900px;
    border-radius: 100px;
    background: linear-gradient(to top  , #2F3F73, #505F90);
    opacity: .5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
   display: flex;  
    justify-content: left;  
    align-items: center;
    z-index: 2;
}

.image{
    height: 700px;
    width: 700px;
    position: absolute;
    background-color: #505F90;
    right: 50px;
    opacity: 1;
    z-index: 2;
    border-radius: 100px;
    box-shadow: 4px 4px 10px 2px #07123A;
    overflow: hidden;
}
.button {
    width: 150px;
    height: 70px;
    padding: 10px 20px;
    margin: 0 50px;
    background-color: #505F90;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 4px 4px 10px 2px #07123A;
    color: #07123A;
    font-weight: bold;
}

.final-image{
    width: 100%;
    height: auto;
    object-fit: cover; /* Scale the image to cover the entire box */
}

.final-image:hover{
    opacity: .65;
}

.download{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    /*transition: opacity 0.3s;*/
    height: 60px;
    width: 60px;
}
.download:hover{
    filter: brightness(70%);
}

.image:hover .download{
    opacity: 1;
}


.button:hover{
    background-color: #7A86AD;
}

.container {
    
    position: absolute;
    transform-style: preserve-3d;
    border-style: solid;
    border-color: aliceblue;
    width: 100%;
    height: 100%;
}

.bubble {
    /* Bubble styles */
    position: absolute;
    background-color: #172556;
    opacity: 0.1;
    animation: floatingBubble 4s infinite;
    border-radius: 50%;
    /* Glow effect */
    box-shadow: 0 0 10px 5px #172556;
    z-index: 1; /* Place the bubbles behind the box */
}

@keyframes floatingBubble {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(100px, -100px);
    }
    100% {
        transform: translate(0, 0);
    }
}